/* reset + base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #000;
  color: #fff;
  padding: 100px;
  line-height: 1.5;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
}

.left-column {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-container {
  padding-right: 20px;
}

.image-container img,
.image-container video {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.social-links {
  margin-top: 1.5rem;       
  font-size: 1.25rem;      
  color: #808080;           
}

.social-links a {
  color: inherit;           
  text-decoration: none;
  margin-right: 0.75rem;    
}

.social-links a:hover {
  text-decoration: underline;
}


.content-container {
  flex: 1;
  padding-left: 20px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

p {
  margin-bottom: 15px;
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px lightblue #fff;
}

a:hover {
  border-bottom: 2px solid #9cd9f1;
}

.past-work {
  margin-top: 30px;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .image-container {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .content-container {
    padding-left: 0;
  }
}
